useDynLib(MPR.genotyping, .registration = TRUE)
export(base2Allele)
export(base2Geno)
export(genotypeCallsBayes)
export(globalMPRByMarkers)
export(globalMPRRefine)
export(globalMPRwithoutMarkers)
export(localMPR)
export(NumRecomEvents)
export(hmm.vitFUN.rils)
export(phy2get.haldane.rils)
export(makeEmissionFUN)
export(mergeBlocks)
export(mergeBinMap)
export(genoToBin)
export(geno2Cross)
export(findBlockAndFilter)
export(correctGeno)
export(correctFUNHMM)
export(base2Geno_ori)
importFrom("stats","median","na.omit","pt")
import(qtl)
